@import "~styles/mediaqueries-mixins";
@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/functions";

.CommentCaMarche-item {
  width: 32%;
  padding: 40px 40px 30px;
  font-size: size(24px);
  .top-icon {
    margin-top: 0;
  }

  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .ccm3b-text {
    margin-top: 0;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.3;
    text-align: center;
  }
}

@include media-phone {
  body .CommentCaMarche3blocksWrapper .carousel.carousel-slider {
    padding-bottom: size-mobile(40px);
    .control-arrow {
      display: none;
    }
  }
  .carousel .slider-wrapper {
    padding-bottom: size-mobile(15);
  }
  .CommentCaMarche3blocksWrapper {
    .Carousel {
      margin-left: -$container-padding;
      margin-right: -$container-padding;

      .slider {
        align-items: stretch;
      }
      .slide {
        padding-left: size-mobile(10px);
        padding-right: size-mobile(10px);
        // width: 80vw;
        // min-width: 0;
      }

      .CommentCaMarche-item {
        height: 100%;
        padding: size-mobile(30) size-mobile(25);
      }
    }

    .control-dots {
      margin-top: size-mobile(50px);
      margin-bottom: 0;
    }
    @include carousel-dots(#000);
  }

  .CommentCaMarche3blocksWrapper .CommentCaMarche-item {
    width: 100%;
  }
  .CommentCaMarche .button {
    margin-bottom: 0;
  }
}
