@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.ArticleCard {
  background: #fff;
  text-align: left;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }

  .img {
    background: center center no-repeat;
    background-size: cover;
    &:before {
      content: "";
      display: block;
      padding-bottom: 75%;
    }
  }

  .card-desc {
    padding: 30px 40px 20px;
    position: relative;
  }

  .blog-cat-datetime {
    margin-bottom: 16px;
    font-size: size(14);
  }

  h4 {
    color: #000;
    font-size: size(24);
    font-weight: 500;
    line-height: 1;
    margin-bottom: 14px;
    text-align: left;
  }

  p {
    line-height: 1.1;
    color: $color-grey;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: size(16);
  }

  .link svg {
    vertical-align: text-top;
  }

  .commentsCount {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 6.7%;
    margin-right: 10.6%;

    svg {
      display: block;
    }
    .numText {
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #000;
    }
  }

  @include media-phone {
    .card-desc {
      padding: size-mobile(20) size-mobile(30);
    }

    .blog-cat-datetime {
      font-size: size-mobile(14);
    }

    h4 {
      font-size: size-mobile(20);
    }

    p {
      font-size: size-mobile(16);
    }

    .commentsCount {
      margin-top: size-mobile(10);
      margin-right: size-mobile(10);
      .num {
        font-size: size-mobile(16);
      }
    }
  }
}
