.HeaderImage {
  overflow: hidden;
  position: relative;
  .HeaderImage-content {
    padding-bottom: 30.7314075%;
  }
  img {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .text {
    position: absolute;
    top: 32%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color: #fff;
  }
  .title {
    color: #fff;
  }

  .preTitle,
  .bigTitle {
    font-weight: bold;
  }
}
