@import "~styles/functions";

.header-image-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header-padding-page .header-image-content {
  top: $header-padding-page-height;
}

.header-padding-page-without-headerimage {
  .header {
    margin-bottom: 50px;
  }
}

.HeaderImage {
  position: relative;
  color: inherit;

  .header-image {
    padding-bottom: 27.44%;
    overflow: hidden;

    @media (max-width: $header-width) {
      min-height: 300px;
    }
    @media (min-width: 1920px) {
      height: 527px;
      padding: 0;
    }
  }

  .HeaderImage-content {
    overflow: hidden;
    padding-bottom: 27.44%;
    position: relative;
  }
  img {
    width: 100%;
    left: 0;
    position: absolute;
    opacity: 0.3;
  }

  .text {
    position: absolute;
    top: 0;
    margin-top: 5.2%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;

    @media (max-width: $header-width) {
      top: 20px;
    }
  }
  .title {
    color: inherit;
  }

  .preTitle,
  .bigTitle {
    font-weight: bold;
  }

  .preTitle {
    font-size: font-size(24px);
    font-weight: bold;
  }

  .bigTitle {
    font-weight: normal;
    font-size: font-size(60px);
    margin-bottom: 5px;
  }

  .subTitle {
    font-size: font-size(44px);
  }

  &-reverse {
    .title,
    .text {
      color: #000;
    }
  }
}

.header-image__btn-link {
  &.active {
    display: none;
  }
}

/** Warning Use also in home carousel */
.header-image {
  background: center center no-repeat;
  background-size: cover;
  padding-bottom: 41.92%;

  @media (max-width: $header-width) {
    min-height: 600px;
  }

  @media (min-width: 1920px) {
    height: 805px;
    padding: 0;
  }
}

.header-image-generic .header-image {
  background-color: #00f6d6;
}

.header-image-shooting {
  .header-image {
  }
}
