@import "../../../../styles/functions";

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  .icon-svg {
    font-size: font-size(120px);
    vertical-align: middle;
    height: auto;
  }
}
.logo-text {
  vertical-align: middle;
  display: inline-block;
  width: 120px;
  font-size: 0.8em;
  margin-left: 0.8em;
}

.logo-inverted {
  color: white;
}
