@import "../../../../styles/functions";

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  svg {
    fill: currentColor;
    vertical-align: middle;
  }
}
.logo-text {
  vertical-align: middle;
  display: inline-block;
  width: 120px;
  font-size: 0.72222rem;
  margin-left: 1em;
  font-weight: 300;
  line-height: 1.34;
}

.logo-inverted {
  color: white;
}
