@import "../../../../styles/functions";

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  svg {
    fill: currentColor;
  }
}
.logo-text {
  vertical-align: middle;
  display: inline-block;
  width: 120px;
  font-size: 0.8em;
  margin-left: 0.8em;
}

.logo-inverted {
  color: white;
}
