@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.listRendererSimple {
  display: block;
  margin-bottom: 20px;
  font-size: size(14px);

  .image {
    width: 80px;
    margin-right: 15px;
    background: no-repeat center center;
    background-size: cover;
    &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  .mea-desc {
    padding: 0;
  }
  .blog-cat-datetime {
    letter-spacing: 0;
    font-size: size(14);
    font-weight: bold;
    color: #000;
  }
}

.listRendererSimple-title {
  margin-top: size(10);
  font-weight: bold;
  font-size: size(16);
}

@include media-phone {
  .listRendererSimple {
    margin-bottom: size-mobile(20);

    .image {
      width: size-mobile(120);
      margin-right: size-mobile(20);
    }

    .blog-cat-datetime {
      font-size: size-mobile(16);
    }
  }

  .listRendererSimple-title {
    margin-top: size-mobile(14);
    font-size: size-mobile(18);
  }
}
