/* your css code */
@import "../../../../../styles/functions";
.listRendererSimple {
  margin-bottom: 20px;
  font-size: font-size(14px);

  .image {
    max-width: 80px;
    width: 100%;
    margin-right: 15px;
  }

  .mea-desc {
    padding: 0;
  }
}

.blog-cat-datetime {
  letter-spacing: 0;
  font-size: 0.9em;
  font-weight: bold;
  color: #000;
}
.listRendererSimple-title {
  margin-top: font-size(5);
  font-weight: bold;
}
