@import "~styles/functions";
@import "~styles/buttons";

.booking-time-picker {
  &.form-field--is-error {
    border: 0 !important;

    .react-date-picker__wrapper,
    .booking-time-picker__list {
      border-color: red !important;
    }
  }
}

.booking-time-picker__list {
  text-align: center;

  + .dropdown-popover {
    text-align: center;
    z-index: 2;
    top: 0;
  }
}

.react-calendar {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.react-calendar__navigation {
  background: #000;
  min-height: 0;
  height: auto;
  color: #fff;
  margin: 0;
  .react-calendar__navigation__label {
    text-transform: uppercase;
    $size: 4%;
    padding-top: $size;
    padding-bottom: $size;
  }
  button {
    &:enabled {
      &:hover {
        background: transparent;
      }
    }

    &[disabled] {
      background: transparent;
      opacity: 0.5;
    }
  }
}

.react-calendar__viewContainer {
  background: #fff;
}

.react-calendar__month-view__weekdays {
  background: $secondary-color;
  font-weight: normal;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 1.2em 0;

  abbr {
    text-decoration: none;
  }
}

@mixin day-tile-current-hover {
  background: $secondary-color;
}

$color-hover: #dfdfdf;
.booking-time-picker {
  .react-calendar__month-view__days__day {
    padding: 0;
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    > abbr {
      display: none;
    }

    .react-calendar__date-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 50%;
    }

    &:not(:disabled) .react-calendar__date-content {
      border: 1px solid $secondary-color;
      border-radius: 1000px;

      &:before {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      .react-calendar__date-content__number {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
      }
    }

    &:not(:disabled):hover {
      background: none;
      .react-calendar__date-content {
        @include day-tile-current-hover;
      }
    }
  }

  .react-calendar__tile--active {
    &,
    &:enabled:hover,
    &:enabled:focus,
    &:hover,
    &:focus {
      background: $color-hover;
      color: inherit;
    }

    .react-calendar__date-content {
      @include day-tile-current-hover;
    }
  }

  .react-calendar__month-view__days__day--weekend {
    color: #000;
  }

  margin-bottom: 20px;
  .booking-time-picker__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
  }

  .dropdown-popover {
    border-radius: 20px;
    position: relative;
    top: 0;
    margin-top: 20px;
  }

  .dropdown-popover-input {
    display: none;
  }

  .dropdown-popover__list {
  }
  .dropdown-popover__contents {
    border-radius: 20px;
  }

  .dropdown-popover__list__item:hover {
    background: #fff;
  }

  .booking-time-picker__item-time {
    margin-right: auto;
    vertical-align: middle;
    span {
      vertical-align: middle;
    }
    svg {
      display: inline-block;
      color: #000;
      opacity: 0.4;
      vertical-align: middle;
      margin-right: 0.5em;
    }
    path {
      color: currentColor;
    }
  }
  .btn-green:hover {
    background: #000;
    color: #fff;
  }
}
