@import "~styles/variables";

.booking-time-picker {
  display: flex;
  align-items: center;

  &.form-field--is-error {
    border: 0 !important;

    .react-date-picker__wrapper,
    .booking-time-picker__list {
      border-color: red !important;
    }
  }
}

.booking-time-picker__list {
  text-align: center;

  + .dropdown-popover {
    text-align: center;
    z-index: 2;
  }
}
