@import "~styles/variables";

.booking-time-picker {
  display: flex;
  align-items: center;

  &.form-field--is-error {
    border: 0 !important;

    .react-date-picker__wrapper,
    .time-picker-wrapper {
      border-color: red !important;
    }
  }
}

// Same size as datepicker
.time-picker-wrapper {
  border: 1px solid #979797;
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 0.4em 0.3em;
  position: relative;

  input {
    padding: 0;
    border-color: transparent;
    text-align: center;
  }
}
.time-picker-popover {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  &--open {
    display: block;
  }
}

.time-picker-popover__contents {
  position: relative;
  margin-top: 20px;
  width: 100%;
  box-shadow: $big-shadow;
  font-size: 1rem;
  text-align: center;
  border-radius: 24px;
  background-color: #fff;

  &:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: -1;
    background: #f7f5f6;
    border-radius: 3px;
    top: 0;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
  }

  h3 {
    font-weight: bold;
    padding: 10px;
    line-height: 1;
    background: #f7f5f6;
  }
}

.time-picker-popover__info {
  padding: 20px 10px;
}
.time-picker-popover__list__item {
  padding: 10px;

  &:last-child {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  &--disabled {
    span {
      opacity: 0.2;
    }
  }
  &:not(.time-picker-popover__list__item--disabled) {
    cursor: pointer;

    &:hover {
      background-color: $btn-green-bg-color;
    }
  }
}
