@import "~styles/functions";
@import "~styles/misc";
@import "~styles/mediaqueries-mixins";

.VenirAuStudio {
  .title {
    text-align: left;
  }

  background: #fff;
  .col-description {
    width: 42.37% !important;
  }
  .col-googlemaps {
    width: 50.8% !important;
  }
  .description {
    text-align: left;
    margin-bottom: 27px;
    @extend.generic-description;
    line-height: 1.6;
  }
  .googlemaps {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: $box-shadow-main;

    .googlemaps-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .col-googlemaps {
    text-align: center;

    .text {
      margin-top: 40px;
      line-height: 1.42;
    }
    .logo {
      margin-bottom: 10px;
      font-size: 14.8px;
      display: inline-block;
    }
  }

  .metros {
    width: 80%;
    margin: 36px auto 0;
    span {
      margin-bottom: 6px;
      display: block;

      img {
        width: 1.2em;
        margin-left: 0.2em;
      }
    }
  }

  // form
  .form-actions {
    text-align: right;
  }
  .btn-right {
    margin-right: 10px;
  }

  @include media-phone {
    .row {
      flex-direction: column;
    }

    .col {
      width: 100% !important;
    }

    .col-description {
      margin-bottom: size-mobile(50);
      .form-actions {
        text-align: center;
      }
    }
    .col-googlemaps {
      .logo {
        font-size: size-mobile(34);
      }
    }
  }
}
