/* your css code */
@import "~styles/functions";

.page-custom-header {
  background: #fff no-repeat center center url("/assets/backgrounds/politique-confid.png");
}

.PageCustomWrapper {
  .list-buttons {
    margin-top: -1.9%;
    position: relative;
    z-index: 10;
  }
  .update-date {
    color: $grey-text;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.pageCustom-content {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
  hr {
    color: rgba(0, 0, 0, 0.2);
    margin: 2em 0;
  }
  h1,
  h2 {
    color: #000;
  }
  h1 {
    font-size: size(44);
    font-weight: normal;
    margin-top: size(24);
    margin-bottom: size(30);
  }

  h2 {
    font-size: size(34);
    font-weight: normal;
    margin-top: size(60);
    margin-bottom: size(24);
  }

  h3 {
    font-size: size(24);
    font-weight: bold;
    margin-top: size(24);
    margin-bottom: size(10);
  }
  a {
    color: #0091ff;
  }

  ul {
    list-style: none;
  }
  li {
    margin: 24px 0;
    padding-left: 1em;
    &:before {
      content: "•";
      display: inline-block;
      margin-left: -1em;
      transform: translateY(-10%);
      width: 1em;
      color: #000;
    }
  }

  .condition-title {
    font-weight: 300;
  }
  .conditions-text {
    font-size: 16px;
    font-weight: 300;
  }
}
