@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

@mixin btn-big-hover {
  background-color: $secondary-color;
  border-color: transparent;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.14);
}

@mixin headerMainStickyProps {
  .header-main {
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
}
$stickyGap: 10px;
$header-paddings: 10px;

.header-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: $header-width + $header-paddings * 2;
  width: 100%;
}

.header {
  position: relative;
  z-index: 30;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -107px;
  min-height: 107px;
  color: inherit;
}

.header-blocs {
  margin-top: -6%;
  position: relative;
  z-index: 5;
}

.header.sticky {
  @include headerMainStickyProps();

  .btn-big {
    background: $btn-green-bg-color;
    border-color: transparent;
  }
}

.header-main {
  padding-left: $header-paddings;
  padding-right: $header-paddings;
  width: 100%;
  .header-main__content {
    &:before {
      content: $stickyGap + "";
      font-size: 0;
      position: absolute;
    }
    align-items: stretch;
    background: #fff;
    color: #000;
    border-radius: 11px;
    box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1408px;
    min-height: 73px;
    padding: 0 18px 0 21px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .logo {
    font-size: size(14.8px);
  }
}

.navigation {
  display: flex;
  align-items: stretch;

  .btn-big {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 200px;
    min-height: 1.8em;
    font-size: size(25px);
    line-height: 1em;
    vertical-align: middle;
    font-weight: 500;
    padding: 0 23px;
    font-family: $font-family;
    text-align: center;
    transition: 0.2s linear;
    transition-property: height, width, font-size;
    align-self: center;
    @media (max-width: 1300px) {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    @media (max-width: 996px) {
      font-size: size(18px);
      line-height: 1.3;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.header__breadcrumbs {
  margin: 30px auto 0;
  position: absolute;
  top: auto;
  width: 100%;
  padding: 0 $header-paddings;
  max-width: $header-width + $header-paddings * 2;
}

/** Modifiers parents class **/
.header-reverse {
  .header,
  .HeaderImage {
    color: #fff;
  }
}

/* All stuff and CSS about header mobile here
  Header mobile max : 800px
*/
@include media-mobile-for-header {
  .header.sticky .header-main {
    top: 0;
  }

  .header .logo svg {
    width: 90px;
  }
  .header-main {
    padding: 0;

    .header-main__content {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 0 20px;
      min-height: 50px;
    }
    .navigation {
      align-items: center;
    }
  }
  .header-btn-reserver {
    padding: 26px 18px;
    font-size: 12px;
  }
  .button-icon-menu {
    margin-left: 20px;
    svg {
      width: 22px;
    }
  }

  .button-icon-menu {
    color: inherit;
  }

  // Mobile menu writing :

  $hpaddings: size-mobile(20px);
  $vpaddings: size-mobile(15px);
  .mobile-menu {
    // remove all styles of themesnavigation
    color: #fff;
    padding-left: $hpaddings;
    padding-right: $hpaddings;
    font-size: size-mobile(30px);

    &,
    li a {
      color: #fff;
    }

    $limargintop: size-mobile(18px);

    li {
      margin-top: $limargintop;
    }
    ul.themes-navigation {
      background: none;
      border: none;
      border-radius: 0;

      li {
        a {
          color: rgba(255, 255, 255, 0.5);
          padding: 20px $hpaddings;
        }
      }
    }

    .nav-bar {
      .nav-sub {
        margin-top: size-mobile(15px);
      }

      .navbar-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 1%;
      }

      .subNav-button {
        svg {
          width: size-mobile(22px);
        }
      }

      a {
        font-weight: normal;
        display: block;
        &:hover,
        &.active {
          background: none;
          color: $secondary-color !important;
        }
      }
    }
  }

  // When mobile menu is opened, header become black and a all black content cover the website
  // This thing is only done when mobile mode only
  .header-mobile-menu__opened {
    position: fixed;
    z-index: 1000;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

    .header.sticky .header-main {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      transform: none;
    }

    .mobile-menu {
      margin-top: size-mobile(110px);
      margin-bottom: auto;
    }

    .header-top {
      flex-direction: column;
      margin: size-mobile(30px) size-mobile(20px) size-mobile(50px);
      align-items: flex-start;
      font-size: size-mobile(14px);
    }

    .site-name {
      display: none;
    }
    .site-name-with-copy {
      display: inline-block;
    }

    .header-links {
      flex-wrap: wrap;

      margin-top: size-mobile(10px);
      margin-right: size-mobile(20px);
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin: size-mobile(20px) size-mobile(-10px) size-mobile(-10px);
      margin-right: size-mobile(-10px);
      li {
        margin: 0 size-mobile(10px) size-mobile(10px);
      }
    }

    .breadcrumbs {
      display: none;
    }
    .logo {
      color: $secondary-color;
    }

    .header {
      margin: 0;
      min-height: 0;
    }

    .header-main__content {
      background: none;
      border: none;
      color: inherit;
    }

    .header-btn-reserver {
      @include btn-big-hover;
      color: #000;
    }
  }
}

@include media-phone {
  .header__breadcrumbs {
    margin-top: size-mobile(15);
    font-size: size-mobile(14);
  }

  .breadcrumbs__crumb {
    font-size: 1em;
  }

  .header-blocs {
    margin-top: -50%;
  }
}
