.header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1408px;
  background: #fff;
  border-radius: 0 11px 11px 0;
}

// // WG
// .header-brand,
// .header-brand-image {
//   height: 54px; // from new Digital Guidelines
// }

// .header-meta {
//   height: auto;
// }

// /** APP **/
// .header-brand__text {
//   margin-top: 4px; //out of nowhere
//   margin-left: ($grid-gutter-width-base/2);
// }

// .header-main--noborder {
//   border-bottom: none;
// }
