@import "../../../styles/functions";

.header {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  max-width: 1408px;
  margin-bottom: -36px;
}

.header-main {
  background: #fff;
  border-radius: 11px;
  min-height: 73px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.05);
  padding: 0 18px 0 21px;
  justify-content: space-between;
  font-weight: 500;
}
.header-main {
  .nav-bar {
    display: inline-block;
    vertical-align: middle;
  }

  .menu {
    margin-right: 25px;
    li {
      margin-left: 24px;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navigation {
  .btn-big {
    border: 1px solid #000;
    border-radius: 200px;
    min-height: 45px;
    font-size: font-size(25px);
    line-height: font-size(41);
    vertical-align: middle;
    font-weight: 500;
    padding: 0 23px;
    font-family: $font-family;
    text-align: center;
  }
}
