@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.ProductPage {
  .ThemeNavigation {
    margin-top: 20px;
  }

  .button-over-middle {
    transform: translateY(-50%);
    position: relative;
    z-index: 5;
  }

  .product-description {
    text-align: justify;
    margin-top: 50px;

    .description {
      color: #6a6a6a;
      line-height: 1.2;
      //margin-right: 110px;
      strong {
        color: #000;
      }
    }

    .image-description {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;

      img {
        max-width: 100%;
      }
    }
    .button-container-centered {
      margin-top: 50px;
    }
  }

  .Themes > .row {
    margin-bottom: 0;
  }

  .centered-gallery {
    //max-width: $container-2-width;
    margin-top: 50px;

    img {
      width: 100%;
    }
  }

  @include media-phone {
    .product-description {
      flex-direction: column;
      .col {
        width: auto !important;
      }
    }
    .image-description {
      margin-top: size-mobile(30);
    }

    .centered-gallery {
      margin-top: size-mobile(50);
    }
  }
}
