@import "../../../styles/functions";

.ProductPage {
  .ThemeNavigation {
    margin-top: 20px;
  }

  .HeaderImage {
    //margin-bottom: 130px;

    .btn-green {
      box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.14);
    }
  }

  .product-description {
    margin-top: 60px;

    .title {
      font-size: font-size(43px);
      line-height: 1;
      text-align: left;
      margin-bottom: 30px;
      font-weight: 300;
      strong {
        font-weight: 500;
      }
    }

    .description {
      color: #6a6a6a;
      line-height: 1.2;
      margin-right: 110px;
      strong {
        color: #000;
      }
    }

    .button-container-centered {
      margin-top: 50px;
    }

    .centered-gallery {
      max-width: $container-2-width;
      margin-top: 110px;

      img {
        width: 100%;
      }
    }
  }
}

.Prices-header-product {
  max-width: 690px;
  > .card {
    width: 30.43%;
  }

  .price-item-of {
    display: none;
  }

  .price-item-qty {
    font-size: 50px;
  }
}
