/* your css code */
.SocialButtonsWrapper {
  font-size: 30px;

  a {
    margin: 0 10px;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
  }

  .icon-svg {
    vertical-align: middle;
  }

  .snapcode img {
    width: 1em;
    vertical-align: middle;
  }
}
