@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.BlockInstagram {
  flex-direction: wrap;
  $margin: 1.3%;
  margin-right: 2%;

  .item {
    width: 31.8% !important;
    margin-right: $margin;
    margin-bottom: $margin;

    .svg-icon {
      display: none;
    }
  }

  @include media-phone {
    & {
      margin-right: 0;
    }
    &.SocialSquaresWrapper .itemscols-3 .item {
      width: 50% !important;
      margin-right: 0;
      margin-bottom: 0;

      &:nth-child(9) {
        display: none;
      }

      &:nth-child(9n) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
