@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.BlockInstagram {
  flex-direction: wrap;
  $margin: 1.3%;
  margin-right: 2%;

  .item {
    width: 31.8% !important;
    margin-right: $margin;
    margin-bottom: $margin;

    .svg-icon {
      display: none;
    }
  }

  @include media-phone {
  }
}
