//TO-DO
$color-default: gray;
$color-active: #000;

.rating-score {
  .RatingStarIcon {
    margin-left: 4px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.rating-score {
  display: inline-block;

  &--editable {
    direction: rtl;
    cursor: pointer;

    .rating-score__item {
      color: $color-default;
      margin-right: 4px;
      margin-left: 0;
      &:last-child {
        margin-left: 0;
      }
    }

    .rating-score__item:hover {
      color: inherit;

      &:hover {
        ~ .rating-score__item {
          color: inherit;
        }
      }
    }
  }
}
