/* your css code */
.Smiley {
  background: no-repeat center center;
  background-size: contain;
  display: inline-block;
  &:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
