@import "../../../../styles/functions";
@import "../../../../styles/inline-menu";
.header-top {
  font-size: font-size(15);
  min-height: font-size(33);
  padding: 0 0 1px 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //background: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: $header-width;
}

.header-top > * {
  flex-shrink: 1;
}
.header-reservation {
  margin-left: 1.4em;
  .svg-icon {
    margin-right: 5px;
    font-size: 1.4em;
  }
}

.header-links {
  @extend .inline-menu;
  li {
    vertical-align: middle;
    margin-left: 1.4em;
  }

  & {
    list-style: none;
    padding-right: 0.3em;
  }

  a {
    text-decoration: none;

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }

  .facebook,
  .instagram {
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
    }

    .svg-icon {
      margin: 0;
    }
  }

  .facebook {
    margin-left: 0.9em;
  }

  .instagram {
    margin-left: 0.5em;
  }

  .svg-icon {
    font-size: 1.2em;
    margin-right: 0.3em;
    vertical-align: sub;
  }

  a {
    color: inherit;
  }
}

/** Modifiers parents class **/
.topheader-reverse {
  .header-top {
    color: #fff;
  }
}
