@import "~styles/functions";
@import "~styles/mediaqueries-mixins";
@import "~styles/mixins";

.ShootingStudioPage {
  .main {
    padding-bottom: 50px;
  }

  .button-container-centered {
    margin-top: 50px;
  }

  .studio-photo-block-container {
    position: relative;
    z-index: 4;
    margin-bottom: 50px;
    margin-top: -7.8%;
  }

  .studio-photo-block {
    .button-container-centered {
      position: relative;
      z-index: 5;
      margin-top: -10%;
    }
  }
  .title-section {
    margin-bottom: 100px;
  }

  .studio-taille-humaine {
    .mea-img {
      padding: 0 40px;
      vertical-align: middle;
    }
    .mea-desc {
      padding-right: 100px;
      line-height: 1.5;
    }

    .pretitle-machin {
      margin-bottom: 20px;
    }

    .title {
      margin-bottom: 20px;
    }
  }

  .studio-photo-block-container {
    @media (max-width: 950px) {
      margin-top: -5%;
    }
    @media (max-width: 900px) {
      margin-top: -2%;
    }
  }
  /** espace 3 colonnes custom spacing between items */
  .esprit-shootizy {
    .row {
      align-items: space-between;
    }
    .col {
      width: 29% !important;
    }
  }
  @include media-phone {
    .studio-photo-block-container {
      $margin: 260;
      $padding: 50;
      padding-top: size-mobile($padding);
      margin-top: size-mobile(-($margin + $padding));
      width: auto;
      overflow: hidden;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: size-mobile(50);
      padding-bottom: 0;
    }
    .studio-photo-block {
      width: auto;
      $size: -120px;
      margin-left: size-mobile($size);
      margin-right: size-mobile($size);
    }

    .title-section {
      margin-bottom: size-mobile(50);
    }

    .esprit-shootizy {
      @include control-dots-white-black();
      .row.row-3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .col {
        margin-bottom: size-mobile(20);
        width: auto !important;
      }

      // .slide {
      //   $pads: 50px;
      //   padding-left: size-mobile($pads);
      //   padding-right: size-mobile($pads);
      // }
      // .carousel .control-dots {
      //   margin-bottom: size-mobile(-10);
      // }
      // .col {
      //   width: auto !important;
      // }
    }

    .studio-taille-humaine {
      .mea-desc {
        padding-right: 0;
      }

      .mea-img {
        margin-top: size-mobile(50);
        margin-bottom: size-mobile(-20);
      }
    }
  }
}
