/* your css code */

.ShootingStudioPage {
  .main {
    padding-bottom: 50px;
    :before {
      content: "";
      display: table;
    }
  }

  .button-container-centered {
    margin-top: 40px;
  }

  .studio-photo-block {
    margin-top: -12.2%;
  }

  .button-container-centered {
    margin-top: -10%;
    position: relative;
    z-index: 4;
  }

  .studio-taille-humaine {
    .mea-img {
      padding: 0 40px;
      vertical-align: middle;
    }
    .mea-desc {
      padding-right: 100px;
      line-height: 1.5;
    }

    .pretitle-machin {
      margin-bottom: 20px;
    }

    .title {
      margin-bottom: 20px;
    }
  }
}
/** espace 3 colonnes custom spacing between items */
.esprit-shootizy {
  .row {
    align-items: space-between;
  }
  .col {
    width: 29% !important;
  }
}
