@import "~styles/variables";

.booking-page {
}
.booking-page-section {
  &:before {
    content: "";
    display: table;
  }
  padding-bottom: 100px;
}
.booking__step-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3.4%;
  position: relative;
}
.booking__step-button {
  padding: 0.5rem 1rem;
  background: white;
  color: black;
  border-radius: 4rem;
  box-shadow: $button-box-shadow;

  &__index {
    display: inline-block;
    $size: 40px;
    height: $size;
    width: $size;
    line-height: $size;
    border-radius: 100px;
    border: 1px solid #dadada;
    background: white;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
    background: #ffffff;
  }

  &:hover:not(:disabled),
  &--active {
    background-color: black;
    .booking__step-button__title {
      color: white;
    }
  }
  &--done {
    .booking__step-button__index {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  &:disabled {
    cursor: not-allowed;
    > * {
      //opacity: 0.3;
    }
  }

  + .booking__step-button {
    margin-left: 1rem;
  }
}

.booking__step {
  margin-top: 100px;

  &__contents {
    margin-top: 2rem;
    // Cover the shadow
    padding: 0 1rem;
  }
  .carousel {
    .control-arrow {
      display: none !important;
    }
    .slide {
      background-color: transparent;
    }
  }
}
