@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.booking-page {
}
.booking-page-section {
  &:before {
    content: "";
    display: table;
  }
  padding-bottom: 100px;
}
.booking__step-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3%;
  position: relative;
}
.booking__step-button {
  padding: 0.5rem 1rem;
  background: white;
  color: black;
  border-radius: 4rem;
  box-shadow: $button-box-shadow;

  &__index {
    display: inline-block;
    $size: 40px;
    height: $size;
    width: $size;
    line-height: $size;
    border-radius: 100px;
    border: 1px solid #dadada;
    background: white;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
    background: #ffffff;
    text-align: center;
  }

  &:hover:not(:disabled),
  &--active {
    background-color: black;
    .booking__step-button__title {
      color: white;
    }
  }
  &--done {
    .booking__step-button__index {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  &:disabled {
    cursor: not-allowed;
    > * {
      //opacity: 0.3;
    }
  }

  + .booking__step-button {
    margin-left: 1rem;
  }
}

.booking__step {
  margin-top: 100px;

  &__contents {
    margin-top: 2rem;
    // Cover the shadow
    padding: 0 1rem;
  }
  .carousel {
    .control-arrow {
      display: none !important;
    }
    .slide {
      background-color: transparent;
    }
  }
}

@include media-phone {
  .booking-page-section {
    padding-bottom: size-mobile(50);

    > .container-2 {
      padding: 0;
      margin: 0;
    }
  }

  .booking__step-button--active {
    color: #fff;
  }

  .booking__step-button {
    white-space: nowrap;
    padding: size-mobile(18) size-mobile(20);
    font-size: size-mobile(16);
  }

  .booking__step-button__index {
    background: none;
    padding: 0;
    width: auto;
    height: auto;
    line-height: 1;
    color: inherit;
    border: none;
    font-weight: bold;

    &:after {
      content: ".";
    }
  }

  .booking__step-button--done .booking__step-button__index {
    background: none;
    color: $secondary-color;
  }

  .booking__step {
    margin-top: size-mobile(50);
  }
  .booking__step__contents {
    padding: 0;
  }

  // STEP 1
  .booking__product-select {
    .ThemeCard {
      width: 100% !important;
      margin-bottom: size-mobile(10);
      &:hover {
        transform: none;
        box-shadow: none;
      }
      .ThemeCard-image .img:before {
        padding-bottom: 35.82%;
      }

      .ThemeCard-content {
        position: absolute;
        bottom: size-mobile(20);
        padding-bottom: 0;

        .ThemeCard-title {
          padding: 0;
          margin: 0;
          width: auto;
          position: static;
        }
      }
    }

    .ThemeCard-select-option {
      $size: size-mobile(20);
      right: size-mobile(10);
      bottom: size-mobile(10);
      width: $size;
      height: $size;
    }
  }

  //STEP 2
  .booking-time-picker {
    .dropdown-popover__list__item {
      padding: size-mobile(10) size-mobile(10);
    }
    .react-calendar__month-view__days__day .react-calendar__date-content {
      width: 70%;
    }

    .booking-time-picker__item-time {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      svg {
        font-size: size-mobile(24);
        margin-right: 0;
      }

      .separator {
        display: none;
      }
    }

    .booking-time-picker__item-button {
      white-space: normal;
      line-height: 1.2;
    }
  }

  //STEP 3

  .booking-summary {
    flex-direction: column;

    .booking-summary__item {
      width: 100% !important;
      padding: size-mobile(20);
      margin: size-mobile(10) 0;
      .booking-summary__item-title {
        font-size: size-mobile(24);
      }
    }
  }

  .slide {
    padding-left: size-mobile(20);
    padding-right: size-mobile(20);
  }

  .booking-form {
    $paddings: size-mobile(0);
    .form-fieldset.booking-message-fieldset {
      padding-left: $paddings;
      padding-right: $paddings;
      .label-top > label {
        font-size: size-mobile(14);
      }
    }

    .form-fieldset.booking-separator-fieldset,
    .form-fieldset {
      padding-left: $paddings;
      padding-right: $paddings;
    }

    .booking-checkboxes-fieldset .form-line label {
      font-size: size-mobile(18);
    }
  }
}
