@import "~styles/functions";
@import "~styles/mixins";
@import "~styles/mediaqueries-mixins";

.Themes {
  > .title {
    margin-bottom: 32px;
  }

  .undertitle {
    margin-bottom: 32px;
  }

  > .row {
    margin-bottom: 33px;

    @include themeCardHover;
  }
  .card {
    width: 31.8%;
    @media (max-width: 900px) {
      width: 49% !important;
    }

    @include media-phone {
      width: 100% !important;
    }
  }
}
