@import "../../../../styles/functions";

.Themes {
  padding-top: 1px;
  > .row {
    margin-bottom: 32px;
  }
}

.Themes-title {
  margin-top: 86px;
  margin-bottom: 32px;
  font-size: font-size(43);
  font-weight: normal;
  text-align: center;
  line-height: 1.1;
  strong {
    font-weight: bold;
  }
}
