@import "../../../../styles/functions";
@import "../../../../styles/buttons";

.Themes {
  > .title {
    margin-bottom: 32px;
  }

  .undertitle {
    margin-bottom: 32px;
  }

  > .row {
    margin-bottom: 33px;

    > .card {
      width: 31.8%;
    }

    .ThemeCard {
      transition: all 0.2s;

      &:hover {
        box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
        transform: scale(1.05);
        .btn-green {
          @extend .btn-green:hover;
        }
      }
    }
  }
}
