@import "../../../../styles/functions";

/* your css code */
.ShootizyTarifs {
  background: #2ef7cc;

  > .container {
    > .title {
      margin-bottom: 84px;
    }

    > ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .ShootizyTarifs-item {
    color: #6a6a6a;
    font-size: font-size(18);
    text-align: center;
    padding: 0 34px 30px;

    .top-icon {
      margin-bottom: 22px;
    }

    .title {
      margin-bottom: 20px;
    }

    strong {
      color: #000;
    }

    .text {
      letter-spacing: -0.1ex;
    }
  }

  .button-container-centered {
    text-align: center;
    margin: 62px 0 20px;
  }
}
