@import "~styles/functions";
@import "~styles/mixins";
@import "~styles/mediaqueries-mixins";
.Tarifs {
  .header-prices {
    position: relative;
    z-index: 6;
    margin-top: -6%;
  }

  .button-container {
    margin-top: 50px;
    text-align: center;
  }
  .tarif-item {
    &:before {
      content: "";
      display: table;
    }
    padding: 0;
    padding-bottom: 20px;
    background: #fff;
    .tarif-item--top {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .image {
      background: center center no-repeat;
      background-size: contain;
      &:before {
        padding-bottom: 37.38%;
        margin-top: 50px;
        margin-bottom: 50px;
        content: "";
        display: block;
      }
    }
    .title {
      margin-bottom: size(20px);
      font-weight: bold;
      text-align: center;
    }

    .tarif-subtext {
      color: $grey-text;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 20px;
    }

    .tarif-price {
      text-align: center;
      strong {
        font-size: size(60);
      }
      small {
        font-size: size(24);
        text-align: baseline;
      }
    }

    .tarif-item--options {
      padding: 0;
      margin: 0 40px;
      li {
        &:before {
          content: "";
          background: center center url("/assets/design/tarifs/puce.svg") no-repeat;
          background-size: contain;
          display: inline-block;
          $size: 1em;
          margin-left: -$size;
          width: $size;
          height: $size;
          font-size: 1em;
        }
        padding-left: 1.5em;
        margin: 1.5em 0;
      }

      .high {
        font-weight: bold;
      }
      .low {
        color: rgba(0, 0, 0, 0.5);
        &:before {
          display: none;
        }
      }
    }
  }

  .bank-cards {
    margin-top: 50px;
  }

  .mode-paiement {
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      width: 100%;
    }

    .col + .col {
      width: auto !important;
    }
  }

  .text-big {
    font-size: 44px;
  }

  @include media-phone {
    @include control-dots(#000, $secondary-color);
    .control-dots {
      margin-top: 0;
      margin-bottom: size-mobile(-20px);
    }
    .carousel {
      margin-top: size-mobile(-200px);
      .slider-wrapper {
        padding: size-mobile(20px) 0;
      }
      .slide {
        background: none;
      }
      .slider .slide {
        padding: 0 size-mobile(10px);
      }
    }

    .card {
      height: 100%;
      text-align: left;
    }

    .button-container {
      margin-top: size-mobile(50px);
    }

    .text-big {
      margin-top: size-mobile(10px);
      font-size: size-mobile(30);
    }
    .bank-cards {
      margin-top: size-mobile(30px);
    }

    .tarif-item .tarif-item--options li:before {
      width: 0.7em;
    }
    .mode-paiement {
      margin-top: size-mobile(50);
      margin-bottom: size-mobile(100);
      flex-direction: column;
      .col {
        width: 100% !important;

        & + .col {
          margin-top: 50px;
          text-align: center;
          img {
            width: 50%;
          }
        }
      }
    }
  }
}
