/* your css code */

.Blog-block-title {
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  padding-bottom: 9px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-weight: bold;
}

.Blog-Content {
  margin-top: 50px;
  display: flex;
  flex: auto initial;
  flex-direction: row;

  > content {
    max-width: 788px;
    margin-right: 45px;
  }

  > aside {
    max-width: 350px;
  }
}
