@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.BlogWrapper {
  .header-image {
    max-height: 500px;
  }

  .blog-container {
    padding-top: 0;
  }

  .categories-and-search {
    margin-top: 50px;
  }

  @include media-phone {
    .header-image {
      height: auto;
      min-height: size-mobile(300);
      max-height: none;
    }

    .Blog-Content {
      > content .row-2 {
        flex-direction: column;
        & > * {
          width: 100% !important;
        }
      }

      .MostReadArticlesWrapper {
        margin-bottom: size-mobile(50);
      }
    }
  }
}

.listComments-blog {
  margin-top: 50px;

  @include media-phone {
    margin-top: size-mobile(40);
  }
}
