@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.blog-cat-datetime {
  font-size: 1.33em;
  color: #000;

  .content-theme {
  }
  .content-date {
    opacity: 0.5;
  }
}

.Blog-block-title {
  font-size: 34px;
  color: #000000;
  letter-spacing: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-weight: bold;
  line-height: size(34px);
  vertical-align: bottom;

  aside & {
    font-size: 24px;
  }
}

.Blog-Content {
  margin-top: 50px;
  display: flex;
  flex: auto initial;
  flex-direction: row;
  justify-content: space-between;

  > content {
    width: 66.1%;
  }

  > aside {
    width: 29.66%;
  }
}

.Blog-item-margin {
  margin-bottom: 50px;
}

@include media-phone {
  .Blog-Content {
    flex-direction: column;

    & > content,
    & > aside {
      width: auto;
    }
  }
}
