/* your css code */
.CommentCaMarche {
  text-align: center;
  background: #2ef7cc;

  > ul {
    margin-top: 44px;
    margin-bottom: 43px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  h3 {
    font-size: 43px;
    font-weight: bold;
  }

  .CommentCaMarche-item {
    width: 32%;
    padding: 30px 40px;
    font-size: 24px;
    .title {
      font-weight: bold;
    }

    .text {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .button {
    margin-top: 45px;
  }
}
