@import "~styles/functions";

.page-newsletter-background {
  background-image: url("/assets/design/newsletter/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

/** use common css blocks */
