@import "~styles/functions";

.page-newsletter-background {
  background-image: url("/assets/design/newsletter/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.NewsletterWrapper {
  .block-forms {
    margin-top: 0;
    margin-bottom: 100px;
  }
}
