/* your css code */

// Just an example as row col
.form-blog-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .form-fieldset {
    width: 49%;
  }
  .form-actions {
    margin: 1rem;
    width: 100%;
  }
  .help {
    ul {
      list-style: disc;
      list-style-position: inside;
    }
  }
}
