.RatingStarIcon {
  color: inherit;
  display: inline-block;
  position: relative;

  svg {
    color: inherit;
    height: 1em;
    width: auto;
    color: inherit;
    $color: #818181;
    fill: #818181;
    stroke: transparent;
  }

  span.fill {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    svg {
      fill: currentColor;
    }
  }

  &--active svg {
    fill: currentColor;
  }
}
