/* your css code */
.ListCategoriesWrapper {
  ul {
    text-align: center;
    margin-top: 50px;
    > li {
      display: inline-block;
      a {
        display: block;
        background: #ffffff;
        border-radius: 35px;
        font-family: BrandonGrotesque-Bold;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        padding: 8px 28px;
        margin: 2px 4px;
      }
    }
  }
}
