/* your css code */
@import "~styles/variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .modal--window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: $card-shadow;
    z-index: 1001;
    min-height: 50px;
    background: #fff;
    border-radius: 20px;
    padding: 40px;
  }
  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }
}
