@import "../../../../styles/functions";

.Prices-header {
  color: #000;
  z-index: 10;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
}

.Prices {
  .price-item {
    text-align: center;
    padding-bottom: 26px;
    border-radius: 10px;
  }

  .price-item-qty {
    font-size: 81px; //font-size(81);
    display: block;
    font-weight: 300;
    line-height: 0.7;
    letter-spacing: -0.09ex;

    sup {
      font-style: normal;
      font-size: 0.3em;
      vertical-align: 1.4em;
      margin-left: 0em;
      letter-spacing: -0.1ex;
    }
  }

  .price-item-of {
    font-size: font-size(27px);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.1ex;
  }

  .price-item-text {
    margin: 10px 0 0 0;
    letter-spacing: 0ex;
    line-height: 1.5;
  }
}
