@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.Prices-header {
  color: #000;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .price-item {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    text-align: center;
    font-size: size(24px);
    box-shadow: $card-shadow;

    .title {
      font-size: size(44px);
      font-weight: bold;
      margin-top: 30px;
    }

    .button {
      border-radius: 30px;
      display: table;
      background: #000;
      color: #fff;
      margin-left: auto;
      margin-right: auto;
      padding: size(20px) size(30px);
      font-weight: bold;
      margin-top: size(26px);
    }

    .price-item-text {
      margin-top: 16px;
    }
  }

  .price-collapse {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    margin-right: 0;

    .price-item {
      background: none;
      margin-right: 0;
      margin-left: 0;
      box-shadow: none;
      border-radius: 0;
      border-left: 1px dashed #000;
      position: relative;

      // OU flottant
      &:before {
        content: "OU";
        position: absolute;
        background: #000;
        border-radius: 200px;
        color: #fff;
        left: 0;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: size(60px);
        height: size(60px);
        font-size: size(24px);
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:first-child {
        border-left: none;
        &:before {
          content: "";
          display: none;
        }
      }
    }
  }

  .price-offer {
    color: #fff;
    background: #000;
    overflow: hidden;
    position: relative;

    .button {
      background: $secondary-color;
      color: #000;
    }

    // Offert flottant
    &:before {
      content: "OFFERT";
      position: absolute;
      background: $secondary-color;
      color: #000;
      $posXY: 15%;
      left: 0;
      top: 0;
      margin-left: $posXY;
      margin-top: $posXY;
      width: 100%;
      font-weight: bold;
      padding: 15px 0;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
  }

  .price-offer {
    margin-left: 0;
  }

  @include media-phone {
  }
}

@media (max-width: 950px) {
  .Prices-header {
    flex-direction: column;
    margin: 0;

    .price-item {
      margin: 20px 0;
    }
  }
}

@include media-phone {
  .Prices-header {
    .price-collapse {
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;

      .price-item {
        width: 100% !important;
        border-left: none;
        border-top: 1px dashed #000;
        padding-top: 60px;

        &:before {
          top: 0;
          left: 50%;
          color: #000;
          background: $secondary-color;
        }

        &:first-child {
          border-top: none;
        }
      }
    }
  }
}

// .Prices {
//   .price-item {
//     text-align: center;
//     padding-bottom: 26px;
//     border-radius: 10px;
//   }

//   .price-item-qty {
//     font-size: 81px; //size(81);
//     display: block;
//     font-weight: 300;
//     line-height: 0.7;
//     letter-spacing: -0.09ex;

//     sup {
//       font-style: normal;
//       font-size: 0.3em;
//       vertical-align: 1.4em;
//       margin-left: 0em;
//       letter-spacing: -0.1ex;
//     }
//   }

//   .price-item-of {
//     font-size: size(27px);
//     font-weight: 500;
//     line-height: 1.4;
//     letter-spacing: 0.1ex;
//   }

//   .price-item-text {
//     margin: 10px 0 0 0;
//     letter-spacing: 0ex;
//     line-height: 1.5;
//   }
// }
