@import "~styles/variables";
@import "~styles/forms";

.date-picker {
  &.form-field--full-width {
    display: block;
    width: 100%;

    .react-date-picker__calendar,
    .react-calendar {
      width: 100%;
      max-width: 100%;
    }
  }
  &.form-field--is-error {
    border: 0 !important;

    .react-date-picker__wrapper {
      border-color: red !important;
    }
  }

  .react-date-picker__wrapper {
    @include input-style();
  }

  .react-date-picker__inputGroup {
    align-items: center;
    line-height: 1;
    padding: 0;

    input {
      padding: 0;
      border-color: transparent;
      border: 0;
      height: auto;
    }
  }
  .react-date-picker__inputGroup__divider,
  .react-date-picker__button {
    padding-top: 0;
    padding-bottom: 0;
  }
  .react-date-picker__calendar {
    box-shadow: $big-shadow;
    top: 100% !important;
    bottom: unset !important;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    z-index: 2;

    .react-calendar {
      border: 0;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      // IE again, can't make overflow: hidden in parent
      overflow: hidden;
    }
  }
  .react-calendar__tile--active {
    background-color: $btn-green-bg-color;
    color: #000;
  }
}
