@import "~styles/functions";
@import "~styles/mediaqueries-mixins";
@import "~styles/mixins";

.HomeWrapper {
  .SurMesure-HomePage {
    margin-top: 70px;
  }

  .CommentCaMarche {
    margin-top: 90px;
  }

  .home-prices {
    margin-top: -10%;
  }
  .carouselHome-item.header-image {
    height: 805px;
  }

  @media (max-width: 800px) {
    .home-prices {
      margin-top: 0;
    }
  }
  @include media-phone {
    .header-image-mask {
      display: none;
    }

    .CarouselHome .carousel {
      .control-dots {
        margin-bottom: size-mobile(50px);
      }
    }

    .home-prices {
      margin-top: size-mobile(50px);
    }
  }
}
