.editable-image {
  position: relative;
  display: inline-block;

  .file-browser {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 3px;
    background: #fff;
  }
}

.editable-image--max-width {
  max-width: 200px;
}
