@import "../../../styles/functions";

/* your css code */
.Carousel {
  .carousel-content {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 50% 50% / 0 0 10% 10%;

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        margin: 0;
        padding: 0;
      }
    }
  }
  .carousel-image {
    width: 100%;
    display: block;
  }

  .carousel-item-content {
    position: absolute;
    color: #fff;
    top: 177px;
    left: 20.2%;
    //transform: translateY(-50%);
  }

  .carousel-item-title {
    font-size: font-size(47);
    line-height: 1.1;
  }

  .carousel-item-button-container {
    text-align: right;
    margin: 27px 0;
  }

  .carousel-item-button {
    background: #2ef7cc;
    border: none;
    border-radius: 100px;
    font-size: font-size(25);
    font-family: "Brandon Grotesque", "Myriad Pro", sans-serif;
    font-weight: bold;
    padding: 0px 0.5em;
    line-height: 1.8;
    display: inline-block;
    min-width: 12em;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: -0.01em;
  }

  .carousel-item-text {
    font-size: 21px;
    max-width: 268px;
    text-align: right;
    margin: 41.9px 3px 0 auto;
    line-height: 1.3;
  }
}
