@import "~styles/variables";

.header-image-mask {
  overflow: hidden;
  svg {
    position: absolute;
    width: 100%;
    min-width: 1280px;
    bottom: 0;
    left: 50%;
    z-index: 3;
    color: $background-color;
    fill: currentColor;
    transform: translateX(-50%);
  }
}

.mask-grey .header-image-mask svg {
  color: $background-grey;
}
