@import "../../../../styles/functions";

.Prices-header {
  margin-top: -110px;
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.Prices {
  position: relative;
  z-index: 1;

  .price-item {
    text-align: center;
    padding-bottom: 26px;
  }

  .price-item-qty {
    font-size: 81px; //font-size(81);
    display: block;
    font-weight: 300;
    line-height: 0.7;
    letter-spacing: -0.09ex;

    sup {
      font-style: normal;
      font-size: 0.3em;
      vertical-align: 1.4em;
      margin-left: 0em;
      letter-spacing: -0.1ex;
    }
  }

  .price-item-of {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0.1ex;
  }

  .price-item-text {
    margin: 13px 0 0 0;
    letter-spacing: 0.1ex;
    line-height: 1.5;
  }
}
