@import "~styles/functions";

.SocialSquaresWrapper {
  .item {
    padding-bottom: 50%;
    position: relative;
    margin: 0;
    width: 50%;
    cursor: pointer;
  }

  .itemscols-2 .item {
    width: 50%;
  }
  .itemscols-3 .item {
    width: 33.33333%;
    padding-bottom: 33.3333%;
  }
  .itemscols-4 .item {
    width: 25%;
    padding-bottom: 25%;
  }

  span.empty {
    background: #fff;
  }

  .item-instagram {
    background: center center no-repeat;
    background-size: cover;
  }
  .item-twitter {
    background: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //padding: 45px;
  }

  $margins: 15.51%;
  date,
  .text {
    position: absolute;
    top: 0;
    left: $margins;
    right: $margins;
  }

  datetime {
    font-size: font-size(20);
    opacity: 0.5;
    margin-top: $margins;
    position: absolute;
  }

  .text {
    margin-top: 33.1%;
    display: block;
    position: absolute;
    font-size: font-size(24);
    overflow: hidden;
    bottom: 0;
    margin-bottom: $margins;
    line-height: 1.3;
  }

  .svg-icon {
    position: absolute;
    color: #fff;
    bottom: 25px;
    right: 25px;
  }
}
