@import "~styles/functions";
@import "~styles/mixins";
.booking__product-select {
  .ThemeCard {
    position: relative;
  }

  @include themeCardHover;

  .ThemeCard-content {
    min-height: auto;
  }

  .ThemeCard-select-option {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #dadada;
    background: white;

    &--active {
      background-color: $btn-green-bg-color;
    }
  }
  .ThemeCard-title {
    font-size: size(24);
    margin-bottom: 40px;
    text-align: left;
  }
}
