@import "~styles/variables";

.booking__product-select {
  .ThemeCard {
    position: relative;
    //transition: all 0.2s;

    &:hover {
      box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
      transform: scale(1.02);
    }
  }
  .ThemeCard-content {
    min-height: auto;
  }

  .ThemeCard-select-option {
    position: absolute;
    right: 24px;
    bottom: 24px;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid #dadada;
    background: white;

    &--active {
      background-color: $btn-green-bg-color;
    }
  }
}
