@import "../../../../styles/variables";

.BlogSmall {
  background: url("/assets/design/fond-le-blog.jpg") center center;
  padding-top: 70px;
  padding-bottom: 70px;

  .description {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }

  .blog-carousel {
    margin-top: -40px;
    margin-bottom: 20px;
  }

  .BlogSmall-title {
    text-align: center;
  }

  .slider-wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .carousel {
    /** Le container principal des fleches fait la largeur de la page,
    mais afin de contenir les flèches dans une zone précise, j'ai du faire un calcul sioux
    */
    .control-arrow {
      background: #000;
      border-radius: 200px;
      display: block;
      height: 33px;
      left: 50%;
      margin-left: $container-2-width/2 - 33px;
      opacity: 1;
      padding: 0;
      right: auto;
      top: 0;
      width: 33px;
      text-align: center;

      &:before {
        display: inline-block;
        border: none;
        color: #fff;
        margin: 0;
        vertical-align: 4px;
      }
    }
    .control-prev:before {
      content: "\2039";
    }

    .control-prev {
      transform: translateX(-40px);
    }

    .control-next:before {
      content: "\203A";
    }

    .slide {
      background: none;
    }

    .slideRow {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;

      .carousel-item {
        width: 48%;
      }
    }
  }

  .carousel-item {
    background: #fff;
    img {
      width: auto;
    }
    h4 {
      color: #000;
      font-size: 25px;
    }
  }

  .control-dots .dot {
    background: black;
    opacity: 1;
    box-shadow: none;
    position: relative;
    vertical-align: middle;
    width: 8px;
    height: 8px;

    &.selected {
      background: #fff;
      border: 2px solid #000;
      width: 20px;
      height: 20px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 10px;
        height: 10px;
        border-radius: 20px;
        background: #fff;
        border: 2px solid #000;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media (max-width: $container-2-width) {
  .BlogSmall {
    .carousel {
      .control-arrow {
        left: auto;
        right: 0;
      }

      .control-prev {
        margin-right: 0;
      }
    }
  }
}
