@import "../../../../styles/functions";

.ThemeCard {
}

.ThemeCard-image {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
  }
}

.ThemeCard-content {
  padding: 24px;
  font-size: font-size(18);
  color: #6a6a6a;
}

.ThemeCard-actions {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 16px;

  .ThemeCard-price {
    border: 1px solid #000;
    border-radius: 4px;
    text-transform: uppercase;
    color: #000;
    padding: 6px 8px;
    cursor: pointer;
  }
}

.ThemeCard-description {
  min-height: 125px;
  margin-bottom: 15px;
}

.ThemeCard-title {
  font-size: font-size(27);
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}

.ThemeCard-buttons {
  text-align: center;
}
