@import "~styles/functions";

body.search-form-opened {
  overflow: hidden;
}

.SearchBlogWrapper {
  vertical-align: middle;
  white-space: no-wrap;
  position: relative;
  .search-input {
    vertical-align: middle;
    display: inline-block;
  }

  .icon-close {
    width: auto;
  }

  .icon-search {
    padding-left: 0;
    padding-right: 0;
    border-radius: 100px;
    width: 35px;
    height: 35px;
  }

  .search-result {
    white-space: normal;
  }
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .search-form-content {
    position: fixed;
    width: 90%;
    max-width: 840px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1001;
  }

  .search-input-container {
    vertical-align: middle;
    width: 100%;

    input {
      width: 100%;
      background: none;
      border: none;
      padding-left: 5px;
      padding-right: 5px;
      color: #fff;
    }
    input::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .search-result {
    $radius: 20px;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    text-align: left;
    z-index: 10;
    padding-top: 5px;

    &.search-result-opened {
      display: block;
    }
    li {
      padding: 0;
      a {
        display: block;
        padding: 15px 50px;

        &.hover {
          background: $secondary-color;
        }
      }
    }
  }
}
