@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.FooterBottom {
  background: #000;
  color: #fff;
  padding-top: size(100px);
  padding-bottom: size(52px);
  position: relative;

  .description {
    font-size: size(16px);
    line-height: 1.4;
    margin-bottom: 20px;
    opacity: 0.5;
  }

  .movetotop-button {
    $size: 70px;
    $decal: $size * 2;
    position: absolute;
    right: 0;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: size(24px);
    width: size($size);
    height: size($size);
    cursor: pointer;
    margin-right: -$decal;

    @media (max-width: $container-2-width+$decal*2+20) {
      margin-right: auto;
    }
  }
}

.col-logo {
  width: 23%;

  .footer-logo {
    align-items: flex-start;
  }
}

.col-links {
  padding-left: 14.4%;
  padding-right: 2.5%;
  font-size: size(16);
  margin-left: 0;
  margin-right: 0;
  flex-grow: 1;

  .row {
    justify-content: space-between;
  }

  .col {
    width: 27%;
  }
  .title-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: size(24px);
  }

  .title {
    color: #fff;
    font-size: size(20);
  }

  li {
    line-height: 1;
    opacity: 0.5;
    margin-bottom: 16px;
  }

  a {
    color: rgba(255, 255, 255, 0.8);
    transition: color linear;

    &:hover {
      color: $secondary-color;
    }
  }
}

.footer-logo {
  color: $secondary-color;
  font-size: 14.8px;
  margin-bottom: 15px;
}

.footer-bottom-top {
  position: relative;
}
.footer-bottom-bottom {
  margin-top: 60px;
  .brand-and-social {
    font-size: size(16);
  }
  .SocialButtonsWrapper {
    display: inline-block;
  }
  .social-buttons {
    display: inline-block;
    font-size: size(23px);
    margin-bottom: 30px;
    color: #fff;

    a {
      margin-right: 4px;
    }
  }
}

.col-rating {
  font-size: size(16);
  > * {
    vertical-align: middle;
  }
}

.GlobalRating-footer {
  margin-left: 3px;
  display: inline-block;
  color: #fff;
  text-align: right;
  font-weight: 500;
  font-size: size(16);

  h3 {
    color: #fff;
    margin-bottom: 4px;
    font-size: size(16);
  }

  .rating-score {
    margin-left: 10px;
    color: $secondary-color;
    font-size: 1.6em;
  }

  .rating-text {
    color: $secondary-color;
    margin-left: 5px;
    font-size: 1.5em;
  }
}

@include media-phone {
  .FooterBottom {
    padding-top: size-mobile(50);

    .row {
      flex-direction: column;
    }

    .col-logo {
      width: 100%;

      .footer-logo svg {
        width: size-mobile(90);
      }
    }

    .col-links {
      padding-left: 0;
      padding-right: 0;
      margin-top: size-mobile(50);
      font-size: size-mobile(16px);

      .title-link {
        margin-bottom: 0;
      }

      .title {
        font-size: size-mobile(20);
      }

      .footer-subnav {
        margin-top: size-mobile(30px);
      }

      .col {
        width: 100%;
        margin-top: size-mobile(30);
      }

      .subNav-button {
        .svg-icon {
          font-size: size-mobile(22);
        }
      }
    }

    .footer-bottom-bottom {
      flex-direction: column-reverse;
    }

    .col-rating {
      align-self: flex-end;
      margin-bottom: size-mobile(20px);
    }

    .GlobalRating {
      font-size: size-mobile(14px);
    }

    .social-buttons {
      font-size: size-mobile(24px);
    }
  }

  .movetotop-button {
    width: size-mobile(44);
    height: size-mobile(44);
    top: size-mobile(-30);
  }
}
