@import "~styles/functions";

.FooterBottom {
  background: #000;
  color: #fff;
  padding-bottom: 52px;
  padding-top: 100px;
  position: relative;

  .description {
    font-size: font-size(16px);
    line-height: 1.4;
    margin-bottom: 20px;
    opacity: 0.5;
  }
}

.col-logo {
  width: 23%;
}

.col-links {
  padding-left: 14.4%;
  padding-right: 2.5%;
  font-size: font-size(16);
  margin-left: 0;
  margin-right: 0;
  flex-grow: 1;

  .row {
    justify-content: space-between;
  }

  .col {
    width: 27%;
  }

  .title {
    color: #fff;
    margin-bottom: 24px;
    font-size: font-size(20);
  }

  li {
    margin-bottom: 9px;
    line-height: 1;
    opacity: 0.5;
    margin-bottom: 16px;
  }

  a {
    color: rgba(255, 255, 255, 0.5);
    transition: color linear;

    &:hover {
      color: $secondary-color;
    }
  }
}

.footer-logo {
  color: $secondary-color;
  font-size: 14.8px;
  margin-bottom: 15px;
}

.footer-bottom-top {
  position: relative;
}
.footer-bottom-bottom {
  margin-top: 60px;
  .brand-and-social {
    font-size: font-size(16);
  }
  .SocialButtonsWrapper {
    display: inline-block;
  }
  .social-buttons {
    display: inline-block;
    font-size: font-size(23px);
    margin-bottom: 30px;
    color: #fff;

    a {
      margin-right: 4px;
    }
  }
}

.col-rating {
  font-size: font-size(16);
  > * {
    vertical-align: middle;
  }
}
.GlobalRating-footer {
  margin-left: 3px;
  display: inline-block;
  color: #fff;
  text-align: right;
  font-weight: 500;
  font-size: font-size(16);

  h3 {
    color: #fff;
    margin-bottom: 4px;
    font-size: font-size(16);
  }

  .rating-score {
    margin-left: 10px;
    color: $secondary-color;
    font-size: 1.6em;
  }

  .rating-text {
    color: $secondary-color;
    margin-left: 5px;
    font-size: 1.5em;
  }
}

.movetotop-button {
  position: absolute;
  left: 100%;
  margin-left: 60px;
  font-size: 24px;
}
