/* TO-DO your css code */
.form-feedback--success {
  color: #026c02;
  margin-top: 5px;
}
.form-feedback--error {
  color: #b80303;
  margin-top: 5px;
}
.form-field--is-error {
  border: 1px solid red !important;
}
.form-field--full-width {
  width: 100%;
}

.form-fieldset-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > .form-line {
    margin-left: 20px;
    flex-grow: 1;

    &:first-child {
      margin-left: 0;
    }
  }
}

.recaptcha {
  //    width: 100% !important;
}
