@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.form-feedback--success {
  color: #026c02;
  margin-top: 5px;
}
.form-feedback--error {
  color: #b80303;
  margin-top: 5px;
}
.form-field--is-error {
  border: 1px solid red !important;
}
.form-field--full-width {
  width: 100%;
}

.form-fieldset-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > .form-line {
    margin-left: 20px;
    flex-grow: 1;

    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin recaptcha-transform($width, $scale: $width/440) {
  @media (max-width: $width+"px") {
    transform: scale($scale);
  }
}

.recaptcha {
  > div > div {
    width: auto !important;
    height: auto !important;
  }
  @include media-phone {
    text-align: center;
  }

  iframe {
    display: inline-block;
    transform-origin: center top;

    //@include recaptcha-transform(800);
    @include recaptcha-transform(800);
    @include recaptcha-transform(700);
    @include recaptcha-transform(600);
    @include recaptcha-transform(500);
    @include recaptcha-transform(400);
    @include recaptcha-transform(360);
    @include recaptcha-transform(324);
    @include recaptcha-transform(300);
  }
}
