@import "~styles/functions";
<<<<<<<head=======
$buttons-right-margin: 0; // 74px;
$carousel-top-spacing: 55px;

$carousel-width: $container-2-width;
>>>>>>>develop body {
  .BlogSmall {
    // background: url("/assets/design/fond-le-blog.jpg") center center;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: url("/assets/design/fond.svg") left top no-repeat;
      background-size: cover;
      opacity: 0.4;
    }

    .BlogSmall-content {
      position: relative;
      z-index: 1;
    }

    .carousel.carousel-slider {
      margin-top: -20px;

      /** Le container principal des fleches fait la largeur de la page,
    mais afin de contenir les flèches dans une zone précise,
    j'ai du faire un calcul sioux
    */
      .control-arrow {
        margin-right: -$carousel-width/2 + $buttons-right-margin;
        right: 50%;
        left: auto;
      }
    }
    .description {
      text-align: center;
      margin-top: 12px;
      margin-bottom: 30px;
      position: relative;
      z-index: 1;
    }

    // .control-dots .dot {
    //   background: black;
    //   opacity: 1;
    //   box-shadow: none;
    //   position: relative;
    //   vertical-align: middle;
    //   width: 8px;
    //   height: 8px;
    //   margin: 0 4px;

    //   &.selected {
    //     background: #fff;
    //     border: 2px solid #000;
    //     width: 20px;
    //     height: 20px;

    //     &:before {
    //       content: "";
    //       display: block;
    //       position: absolute;
    //       left: 50%;
    //       top: 50%;
    //       width: 10px;
    //       height: 10px;
    //       border-radius: 20px;
    //       background: #fff;
    //       border: 2px solid #000;
    //       transform: translate(-50%, -50%);
    //     }
    //   }
    //     }

    .button-container-centered {
      margin-top: 40px;
    }
  }
}

@media (max-width: $container-2-width) {
  .BlogSmall {
    .carousel {
      .control-arrow {
        left: auto;
        right: 0;
      }

      .control-prev {
        margin-right: 0;
      }
    }
  }
}
