@import "../../../../styles/functions";

$buttons-right-margin: 0; // 74px;
$carousel-top-spacing: 55px;
body {
  .BlogSmall {
    // background: url("/assets/design/fond-le-blog.jpg") center center;
    padding-top: 100px;
    padding-bottom: 100px;

    .description {
      text-align: center;
      margin-top: 12px;
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
    }

    .button {
      margin-bottom: $carousel-top-spacing;
    }
    .blog-carousel {
    }

    .carousel-slider {
      margin-top: -$carousel-top-spacing;
      margin-bottom: -$carousel-top-spacing;
    }

    .slider-wrapper {
      padding-top: $carousel-top-spacing;
      padding-bottom: $carousel-top-spacing;
    }

    .carousel {
      /** Le container principal des fleches fait la largeur de la page,
    mais afin de contenir les flèches dans une zone précise,
    j'ai du faire un calcul sioux
    */
      .control-arrow {
        margin-left: auto;
        margin-right: -$container-2-width/2 + $buttons-right-margin;
        opacity: 1;
        left: auto;
        right: 50%;
        padding: 0;
        bottom: 100%;
        top: auto;
        width: 33px;
        height: 33px;
        background: none;
        color: #000;
        font-size: 15px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
          background: none;
        }
      }

      .control-prev {
        transform: translateX(-40px);
        &:before {
          transform: translateX(-10%);
        }
      }

      .control-next:before {
        transform: translateX(10%);
      }

      .slide {
        background: none;
      }

      .slideRow {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;

        .carousel-item {
          width: 32.2%;
        }
      }
    }

    // .control-dots .dot {
    //   background: black;
    //   opacity: 1;
    //   box-shadow: none;
    //   position: relative;
    //   vertical-align: middle;
    //   width: 8px;
    //   height: 8px;
    //   margin: 0 4px;

    //   &.selected {
    //     background: #fff;
    //     border: 2px solid #000;
    //     width: 20px;
    //     height: 20px;

    //     &:before {
    //       content: "";
    //       display: block;
    //       position: absolute;
    //       left: 50%;
    //       top: 50%;
    //       width: 10px;
    //       height: 10px;
    //       border-radius: 20px;
    //       background: #fff;
    //       border: 2px solid #000;
    //       transform: translate(-50%, -50%);
    //     }
    //   }
    //     }

    .button-container-centered {
      margin-top: 40px;
    }
  }
}

@media (max-width: $container-2-width) {
  .BlogSmall {
    .carousel {
      .control-arrow {
        left: auto;
        right: 0;
      }

      .control-prev {
        margin-right: 0;
      }
    }
  }
}
