/* your css code */
@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.BlogCarouselRenderer-contentwrapper {
  position: relative;
  padding-bottom: 56.28%;
  background: center center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .BlogCarousel-content {
    color: #fff;
    position: absolute;
    bottom: size(90);
    left: size(90);
    right: size(90);
    text-align: left;
    font-size: 1rem;
  }

  .blog-cat-datetime {
    color: #fff;
    font-size: 1.333em;
    font-weight: normal;
  }
  .BlogCarouselRenderer-light {
    color: #000;
  }

  .BlogCarousel-content-title {
    font-size: 2.44em;
  }
}

@include media-phone {
  .BlogCarouselRenderer-contentwrapper {
    padding-bottom: 70%;
    .BlogCarousel-content {
      font-size: size-mobile(14);
    }
  }

  .BlogCarouselRenderer-contentwrapper .BlogCarousel-content {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}
