/* your css code */
@import "../../../../../styles/functions";

.BlogCarouselRenderer-contentwrapper {
  position: relative;
  padding-bottom: 56.28%;
  background: center center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .BlogCarousel-content {
    color: #fff;
    position: absolute;
    bottom: size-rem(90);
    left: font-size(90);
    right: font-size(90);
    text-align: left;
    font-size: 1rem;
  }

  .blog-cat-datetime {
    color: #fff;
    font-size: 1.333em;
    font-weight: normal;
  }
  .BlogCarouselRenderer-light {
    color: #000;
  }

  .BlogCarousel-content-title {
    font-size: 2.44em;
  }
}
