/* your css code */
@import "../../../../../styles/functions";

.BlogCarouselRenderer-contentwrapper {
  position: relative;
  padding-bottom: 56.28%;
  background: center center no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.BlogCarousel-content {
  color: #fff;
  position: absolute;
  bottom: size-rem(90);
  left: font-size(90);
  right: font-size(90);
  text-align: left;
  font-size: 1rem;
}

.BlogCarousel-firstline {
  font-size: 1.33em;
}

.BlogCarousel-content-date {
  opacity: 0.7;
}

.BlogCarouselRenderer-light {
  color: #000;
}

.BlogCarousel-content-title {
  font-size: 2.44em;
}
