@import "~styles/functions";

.NewsletterWrapper {
  .form-newsletter-block {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .smallTitle {
    margin-top: 30px;
    margin-bottom: 42px;
    font-size: 24px;
  }
  .block-content {
    width: 100%;
    max-width: 586px;
    margin-left: auto;
    margin-right: auto;
  }

  .text {
    .big {
      font-size: 44px;
      line-height: 1.5;
      strong {
        display: block;
      }
      margin-bottom: 40px;
    }
  }

  .advertphrase {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
  }

  .form-newsletter {
    text-align: left;

    label {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
