@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.svg-icon {
  font-size: 1em;
  line-height: 1;

  display: inline-block;
  overflow: hidden;

  box-sizing: content-box;
  width: 1em;
  height: 1em;

  vertical-align: -0.15em;
  path {
    color: inherit;

    fill: currentColor;
  }
}

.top-icon,
.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  $size: 60px;
  height: $size;
  width: $size;
  margin: 35px auto 26px;
  background: #000;
  border-radius: 200px;
  color: #fff;
}

@include media-phone {
  .top-icon {
    $size: size-mobile(46);
    height: $size;
    width: $size;
    font-size: size-mobile(18);
    margin-bottom: size-mobile(16);
  }
}

.icon-big {
  width: 106px;
  height: 106px;
  line-height: 106px;

  .svg-icon {
    font-size: 2.2em;
  }
}
