@import "~styles/functions";
@import "~styles/mediaqueries-mixins";
/* your css code */
.NewsletterSubscribeFooter {
  background: $secondary-color;
  padding: 50px 0;
  .title {
    margin-bottom: 3px;
    font-size: size(24);
  }

  p {
    margin: 0;
    font-size: size(16);
    opacity: 0.5;
  }
  .row {
    align-items: center;
  }

  .form-newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  form input[type="email"] {
    height: 70px;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    min-width: 430px;
    padding: 0 15px;
  }

  .arrow-button {
    font-size: 0.9em;
    .svg-icon {
      font-size: 1.4em;
    }
  }

  @include media-phone {
    .row {
      flex-direction: column;
      align-items: normal;
    }

    form {
      width: 100%;
      margin-top: size-mobile(34);
    }

    form input[type="email"] {
      width: 100%;
      min-width: 0;
      height: size-mobile(45px);
    }

    .circle-button {
      min-height: size-mobile(44);
      min-width: size-mobile(44);

      svg {
        width: size-mobile(22);
        height: size-mobile(22);
      }
    }
  }
}
