@import "../../../../styles/functions";
@import "../../../../styles/misc";

.SurMesure {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 70px;
  color: #000;

  .SurMesure-title {
    font-size: font-size(43);
  }

  .icon-circle {
    font-size: 1.2em;
  }

  .SurMesure-description {
    @extend .generic-description;
    color: #000;
    margin-bottom: 35px;
  }

  .button-container-centered {
    margin-top: 56px;
  }
}
