@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.GalleryWrapper {
  $margin: 0.3%;
  margin-left: $margin;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .image {
    cursor: pointer;
    margin-bottom: 3%;
    overflow: hidden;

    span {
      display: block;
      padding-bottom: 75.19%;
      transition: transform 0.3s ease-in-out;
      background: no-repeat center center;
      background-size: cover;
    }

    &:hover span {
      transform: scale(1.1);
    }
  }

  .image + .image span {
    padding-bottom: 133%;
  }

  .col:nth-child(odd) {
    .image span {
      padding-bottom: 133%;
    }

    .image + .image span {
      padding-bottom: 75.19%;
    }
  }

  // div:nth-child(2n),
  // div:nth-child(3n) {
  //   &:before {
  //     padding-bottom: 133%;
  //   }
  // }

  @include media-phone {
    flex-wrap: wrap;
    justify-content: space-between;

    .image-0,
    .image-1,
    .image-3,
    .image-4 {
      width: 49% !important;
      span {
        padding-bottom: 78.51% !important;
      }
    }

    .image-2,
    .image-5 {
      width: 100% !important;
      span {
        padding-bottom: 75.06% !important;
      }
    }
  }
}
