@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

/* your css code */
.ShootingSurMesureWrapper {
  .mea-table {
    margin-top: 140px;

    .title {
      text-align: left;
    }

    .mea-desc {
      width: 50%;
      text-align: justify;
      line-height: 1.41;
    }
    .mea-img {
      padding: 0 100px;

      img {
        border-radius: 20px;
        box-shadow: 50px 50px 20px rgba(0, 0, 0, 0.05);
      }
    }
  }
  .margin-title-surmesure {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .clients {
    //margin-top: 100px;
  }

  @include media-phone {
    .FloatingBodyWrapper {
      margin-top: -20%;
      max-width: 80%;
      position: relative;
      left: -2%;
    }
    .mea-table {
      margin-top: size-mobile(30);
      .mea-desc,
      .mea-img {
        width: 100%;
      }

      .mea-img {
        padding: 0;
      }
    }
    .button {
      margin-top: size-mobile(30px);
      margin-bottom: size-mobile(30px);
    }

    .icon-circle {
      margin-top: 0;
    }

    .mea-table .mea-img img {
      border-radius: size-mobile(10);
      box-shadow: size-mobile(20) size-mobile(20) size-mobile(8) rgba(0, 0, 0, 0.05);
    }
    .margin-title-surmesure {
      margin-top: size-mobile(50);
      margin-bottom: size-mobile(30);
    }
    .clients {
      // margin-top: size-mobile(50);
      // margin-bottom: size-mobile(30);
    }
  }
}

.images-inline-list {
  text-align: center;
  margin: -1rem 0;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 1rem 1.23rem;
  }

  img {
    max-width: 100%;
  }

  @include media-phone {
    margin: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;

    li {
      padding: 0;
      width: 46%;
      margin: 2%;
      position: relative;
      &:before {
        content: "";
        display: block;
        padding-bottom: 75.55%;
      }
    }

    img {
      //width: 80%;
      max-width: 80%;
      position: absolute;
      max-height: 80%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.enterprises-confiance {
  @include media-phone {
    li {
      background: #fff;
      padding: 0;
    }

    padding-bottom: size-mobile(50);
  }
}
