@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

/* your css code */
.ShootingSurMesureWrapper {
  .mea-table {
    margin-top: 140px;

    .title {
      text-align: left;
    }

    .mea-desc {
      width: 50%;
      text-align: justify;
      line-height: 1.41;
    }
    .mea-img {
      padding: 0 100px;

      img {
        border-radius: 20px;
        box-shadow: 50px 50px 20px rgba(0, 0, 0, 0.05);
      }
    }
  }

  .enterprises-confiance {
    img {
      max-width: 1180px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include media-phone {
    .mea-table {
      margin-top: size-mobile(30);
      .mea-desc,
      .mea-img {
        width: 100%;
      }

      .mea-img {
        padding: 0;
      }
    }

    .icon-circle {
      margin-top: 0;
    }
  }
}
