@import "~styles/functions";

/* your css code */
.ShootingSurMesureWrapper {
  .mea-table {
    margin-top: 140px;

    .title {
      text-align: left;
    }

    .mea-desc {
      width: 50%;
      text-align: justify;
      line-height: 1.41;
    }
    .mea-img {
      padding: 0 100px;

      img {
        border-radius: 20px;
        box-shadow: 50px 50px 20px rgba(0, 0, 0, 0.05);
      }
    }
  }

  .themes-filter {
    color: rgba(0, 0, 0, 0.5);
    font-size: font-size(18);
    strong {
      color: #000;
    }
  }
  .themes-list {
    display: block;
    margin-bottom: 45px;

    button {
      font-size: 1em;
    }
    li {
      display: inline-block;
      font-weight: bold;

      &.current {
        color: #000;
      }
      margin-left: 20px;
    }
  }

  .enterprises-confiance {
    img {
      max-width: 1180px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
