.customer-rating__total {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-bottom: 1rem;
  }
}

.CustomerRatingWrapper .HeaderImage .HeaderImage-content {
  background-color: #000;
}
