/* your css code */
@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.footer-social-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .title-hashtag {
    margin-top: size(50);
  }

  p {
    margin: 0;
  }
  .phrase2 {
    margin-top: size(10px);
    margin-bottom: size(40px);
  }

  .social-section-buttons {
    font-size: size(70px);
    a {
      width: 1em;
      height: 1em;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 500px;
      background: #000;
      color: #fff;

      .svg-icon {
        font-size: 0.4285em;
      }
    }

    .snapcode {
      font-size: 1.28em;
      border-radius: none;
      padding: 0;
      background: none;
      color: inherit;
      img {
        width: 1em;
      }
    }
  }
  .container-full {
    align-items: center;
  }
  .col-description {
    padding: 0 7.6%;
  }

  @include media-phone {
    > .row {
      flex-direction: column;
    }
    > .row-2 > .col {
      width: 100% !important;
    }

    .col-social {
      margin-top: size-mobile(50px);
    }
  }
}
