@import "~styles/functions";
@import "~styles/mediaqueries-mixins";

.block-forms {
  margin-top: 50px;
  margin-bottom: 50px;

  .smallTitle {
    margin-top: 30px;
    margin-bottom: 42px;
    font-size: 24px;
  }
  .block-content {
    width: 100%;
    max-width: 586px;
    margin-left: auto;
    margin-right: auto;
  }

  .text {
    .big {
      font-size: 44px;
      line-height: 1.5;
      strong {
        display: block;
      }
      margin-bottom: 40px;
    }
  }

  .advertphrase {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
  }

  @include media-phone {
    $size: size-mobile(50);
    margin-top: $size;
    margin-bottom: $size !important;

    padding-top: size-mobile(30);
    padding-bottom: size-mobile(30);

    .smallTitle {
      margin-top: size-mobile(0);
      margin-bottom: size-mobile(30px);
      font-size: size-mobile(18px);
    }
    .block-content {
      max-width: none;

      .text .big {
        font-size: size-mobile(30px);
        margin-bottom: size-mobile(30);
      }
    }

    .advertphrase {
      font-size: size-mobile(24);
    }
  }
}

.block-shadow {
  box-shadow: $card-shadow;
}

.block-corners {
  border-radius: 20px;
}

.block-primary-background {
  background: $secondary-color;
}
