@import "./functions";

//$button-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.14);

.button-container-centered {
  text-align: center;
}

@mixin button {
  border-radius: 35px;
  font-size: font-size(24);
  font-family: "Brandon Grotesque", "Myriad Pro", sans-serif;
  font-weight: 500;
  padding: 0 1.1em;
  line-height: 2.9;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 0;
}

.btn-hover-green {
  &:hover {
    background-color: $secondary-color !important;
    border-color: transparent;
    box-shadow: $button-box-shadow;
  }
}

.btn-green,
.btn-green-small {
  @include button;
  background: $btn-green-bg-color;
  color: #000;

  &:hover {
    box-shadow: $button-box-shadow !important;
  }

  &-hover-invert:hover {
    background-color: #fff;
    color: #000;
    box-shadow: $button-box-shadow;
  }
}
.btn-green-small {
  font-size: 18px;
  line-height: 2.1;
  $padding: 25px;
  padding-left: $padding;
  padding-right: $padding;
}

.btn-white,
.btn-white-simple {
  @include button;
  color: #000;
  background: #fff;
  box-shadow: $button-box-shadow;

  .svg-icon {
    font-size: 0.7em;
    margin-right: 0.2em;
    vertical-align: 0.05em;
  }

  &:hover {
    background: #000;
    color: #fff;
  }
}

.btn-white-simple {
  padding: 0;
  border: none;
  font-size: font-size(16px);
  font-weight: bold;
  line-height: 1;
  min-height: 0;

  .svg-icon {
    font-size: 0.6em;
    margin-right: 0.3em;
    vertical-align: 0.05em;
  }

  &:hover {
    color: #000;
    background: none;
    text-decoration: underline;
  }
}

.btn-green {
  .svg-icon {
    vertical-align: -0.2em;
    margin-right: 0.3em;
  }
}

.btn-small {
  font-size: font-size(16px);
  padding: 0.3em 2em;

  .svg-icon {
    font-size: 0.7em;
    vertical-align: baseline;
  }
}

.btn-very-small {
  display: block;
  background: $secondary-color;
  border-radius: 35px;
  font-family: BrandonGrotesque-Bold;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  padding: 8px 28px;
  margin: 2px 4px;

  &:hover,
  &.active {
    background-color: #000;
    color: #fff;
  }
}

.btn-fullwitdh {
  display: block;
  width: 100%;
}

[class^="btn-"] {
  transition: opacity 1s;
  &:disabled {
    opacity: 0.4;
  }
}

.link {
  .circle-icon {
    font-size: 1em;
    vertical-align: bottom;
    padding: 0.25em;
  }
}

.btn-big {
  line-height: 2.8;
}

.btn-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
