@import "./functions";

.button-container-centered {
  text-align: center;
}

.btn-green {
  color: #000;
  background: #2ef7cc;
  border: none;
  border-radius: 100px;
  font-size: font-size(25);
  font-family: "Brandon Grotesque", "Myriad Pro", sans-serif;
  font-weight: bold;
  padding: 0px 0.5em;
  line-height: 1.8;
  display: inline-block;
  min-width: 12em;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: -0.01em;
}

.btn-white,
.btn-white-simple {
  color: #000;
  font-weight: bold;
  font-size: font-size(20);
  min-height: 45px;
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border-radius: 20px;
  line-height: 45px;
  $h-padding: 45px;
  padding-left: $h-padding;
  padding-right: $h-padding;
  .icon-svg {
    font-size: 0.8em;
  }
}

.btn-white-simple {
  padding: 0;
  border: none;
}

.btn-green {
  .icon-svg {
    font-size: 0.5em;
    vertical-align: middle;
  }
}

.btn-small {
  font-size: 16px;
}
