@import "./functions";
@import "./mediaqueries-mixins";

html {
  font-size: $font-size;

  @include media-phone {
    font-size: (18 * 100/375) + vw;
  }
}

body {
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1.2;
}

b,
strong {
  font-weight: bold;
}

.pre-title {
  text-align: center;
  font-weight: bold;
  font-size: size(25px);
}

h2.title {
  font-size: size(44);
  font-weight: 300;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2;
}

h3.title,
.card-title {
  font-size: size(27);
  font-weight: bold;
  color: #000;
  line-height: 1.4;
}

h4.title {
  font-size: size(18);
  font-weight: bold;
  color: #000;
  line-height: 1.4;
  text-align: center;
}

.undertitle {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

// TODO : uniformiser un jour partout
.grey-text {
  color: rgba(0, 0, 0, 0.5) !important;

  strong {
    color: #000;
  }

  h3,
  h4 {
    color: #000;
    font-weight: bold;
  }
}
