@import "./functions";

$form-input-font-size: font-size(20);

@mixin input-style() {
  border: 2px solid #e7eaee;
  border-radius: 5px;
  font-size: $form-input-font-size;
  padding: 1.2em 1.6em;
  line-height: 1.1;
  background: #fff;
}

#{$inputSelectors} {
  @include input-style();
}

select {
  appearance: menulist;
}

.form-line {
  margin-bottom: font-size(22);
}

.label-top > {
  label {
    display: block;
    margin-bottom: font-size(7);
    font-weight: bold;

    .label-legend {
      font-weight: normal;
    }
  }

  #{$inputSelectors} {
    display: block;
    width: 100%;
  }
}

form.generic-form {
  text-align: left;
  #{$inputSelectors} {
    //box-shadow: $button-box-shadow;
  }

  label {
    color: rgba(0, 0, 0, 0.5);
    font-size: font-size(14);
    margin-bottom: 8px;
    display: block;
  }
}

.form-with-columns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .form-fieldset-left {
    width: 30%;
    margin-right: 1%;
  }

  .form-fieldset-right {
    width: 70%;
  }
  .form-actions {
    position: absolute;
    transform: translateY(-100%);
    right: 0;
    top: -10px;
  }
  .form-feedback--success {
    position: absolute;
    background: #0ce70c;
    color: #026c02;
    padding: 14px;
    bottom: 100%;
    border-radius: 20px;
    font-size: 10px;
    right: 0;
    margin-bottom: 10px;
  }
}

.link {
  text-decoration: underline;
}
