@import "./functions";

$form-input-font-size: font-size(20);

#{$inputSelectors} {
  border: 2px solid #e7eaee;
  border-radius: 5px;
  font-size: $form-input-font-size;
  padding: 1.2em 1.6em;
  line-height: 1.1;
  background: #fff;
}

.form-line {
  margin-bottom: font-size(22);
}

.label-top > {
  label {
    display: block;
    margin-bottom: font-size(7);
  }

  #{$inputSelectors} {
    display: block;
    width: 100%;
  }
}

form.generic-form {
  text-align: left;
  #{$inputSelectors} {
    //box-shadow: $button-box-shadow;
  }

  label {
    color: rgba(0, 0, 0, 0.5);
    font-size: font-size(14);
    margin-bottom: 8px;
    display: block;
  }
}
