@import "./functions";
$inputSelectors: "textarea, input[type='text'], input[type='date'], input[type='datetime-local'], input[type='email'], input[type='file'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='week']";

#{$inputSelectors} {
  border: 1px solid $color-grey;
  border-radius: 4px;
  font-size: font-size(27);
  padding: 0.4em 0.3em;
  background: #fff;
}

.form-line {
  margin-bottom: font-size(19);
}

.label-top > {
  label {
    display: block;
    margin-bottom: font-size(7);
  }

  #{$inputSelectors} {
    display: block;
    width: 100%;
  }
}
