@import "./variables";

.page-section {
  $margin: 90px;
  padding-top: $margin;
  padding-bottom: $margin;
}

.container,
.container-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
}

.container-2 {
  max-width: $container-2-width;
}
.container-inside {
  max-width: 750px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  padding-bottom: 100px;
}

.section-container {
  background: #f7f5f6;
}

/***********
* ROW
************/

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-wrap {
  flex-wrap: wrap;

  > * {
    margin-bottom: 30px;
  }
}

.row-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row-strech {
  align-items: stretch;
}

//TO-DO Temporary, may be you should do with col rather than row
$nb-cols: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
$nb-cols-len: length($nb-cols);
@each $nb in $nb-cols {
  .row-#{$nb} > * {
    width: #{100 / $nb - 1}% !important;
  }
  .row > .col-#{$nb} {
    width: #{100 * $nb/$nb-cols-len - 1}% !important;
  }
}

//   > .col {
//     width: 48%;
//   }
//

/***********
* CARD
************/

.card {
  /** card base **/
  padding: 34px 15px;
}
$box-shadow: $big-shadow;
.card-shadow {
  box-shadow: $box-shadow;
}

.card-shadow-hover:hover {
  box-shadow: 0px 0px 5px 4px #2d2d2d40;
}

.card-simple {
  background: #fff;
  border-radius: 20px;
}

.card-with-top-icon {
  position: relative;

  .top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    margin: -35px auto 26px;
    background: #000;
    border-radius: 200px;

    .svg-icon {
      color: #fff;
      font-size: 1.7em;
    }
  }

  .icon-big {
    width: 106px;
    height: 106px;
    line-height: 106px;

    .svg-icon {
      font-size: 2.2em;
    }
  }
}

// TO-DO
.card-margin {
  margin-bottom: 20px;
}
