@import "./variables";

.page-section {
  $margin: 90px;
  padding-top: $margin;
  padding-bottom: $margin;
}

.container,
.container-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
}

.container-2 {
  max-width: $container-2-width;
}
.container-inside {
  max-width: 750px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
}

/***********
* ROW
************/

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-strech {
  align-items: stretch;
}

.row-3 {
  > .card,
  > .dummyCard {
    width: 32%;
  }
}

/***********
* col
************/

.row-2 {
  > .col {
    width: 48%;
  }
}

/***********
* CARD
************/

.card {
  /** card base **/
  padding: 34px 15px;
}
$box-shadow: 0px 0px 35px 18px #2d2d2d15;
.card-shadow {
  box-shadow: $box-shadow;
}

.card-shadow-hover:hover {
  box-shadow: 0px 0px 5px 4px #2d2d2d40;
}

.card-simple {
  background: #fff;
  //box-shadow: $box-shadow;
  border-radius: 20px;
}

.card-with-top-icon {
  position: relative;

  .top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    margin: -35px auto 26px;
    background: #000;
    border-radius: 200px;

    .icon-svg {
      color: #fff;
      font-size: 1.7em;
    }
  }

  .icon-big {
    width: 106px;
    height: 106px;
    line-height: 106px;

    .icon-svg {
      font-size: 2.2em;
    }
  }
}
