@import "./variables";

@mixin containerMediaMaxWidth($maxwidth) {
  @media (max-width: $maxwidth+ $container-padding*2) {
    margin-left: $container-padding;
    margin-right: $container-padding;
    width: auto;
  }
}

.page-section {
  $margin: 100px;
  padding-top: $margin;
  padding-bottom: $margin;
}

.container,
.container-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
}

.container-2 {
  max-width: $container-2-width;

  @include containerMediaMaxWidth($container-2-width);
}

.container-inside {
  max-width: 750px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-full {
  width: 100%;
}

.page-content {
  padding-bottom: 100px;
}

.section-container {
  background: #f7f5f6;
}

.section-background {
  background: $secondary-color;
}

/***********
* ROW
************/

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-wrap {
  flex-wrap: wrap;

  > * {
    margin-bottom: 30px;
  }
}

.row-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row-strech {
  align-items: stretch;
}

//TO-DO Temporary, may be you should do with col rather than row
$nb-cols: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
$nb-cols-len: length($nb-cols);
@each $nb in $nb-cols {
  .row-#{$nb} > * {
    width: #{100 / $nb - 1}% !important;
  }
  .row > .col-#{$nb} {
    width: #{100 * $nb/$nb-cols-len - 1}% !important;
  }
}

/*** Margins **/

.mb10 {
  margin-bottom: 10px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

// blocks

.block {
  padding: 85px 30px;
}

.txt-c {
  text-align: center !important;
}
.txt-l {
  text-align: left !important;
}
.paragraph-messenger {
  display: table;
  width: 100%;
  .img-messenger {
    display: table-cell;
    padding-right: 10px;
    vertical-align: middle;
  }
  .text {
    vertical-align: middle;
    display: table-cell;
  }
}
