@import "./variables";

html {
  background: $background-color;
}

.header-height-space {
  margin-top: 120px;
}
.App,
.page-container {
  &:before,
  &:after {
    content: "";
    display: table;
  }
}
