.mea {
  &:after {
    display: table;
    content: "";
    clear: both;
  }

  .mea-img {
    float: left;

    img {
      display: block;
    }
  }
  .mea-desc {
    display: table-cell;
    width: 1000px;
    padding: 15px;
  }
}
