.arrow-button {
  color: #000;
  background: #fff;
  font-size: 12px;
  border-radius: 200px;
  display: inline-block;
  margin-left: 5px;
  height: 3em;
  width: 3em;
  font-weight: bold;
}

.generic-description {
  color: #6a6a6a;
  font-size: font-size(27);
  line-height: 1.2;
  text-align: center;
  strong {
    color: #000;
  }
}
