@import "~styles/variables";

.circle-button {
  color: #000;
  background: #fff;
  font-size: 12px;
  border-radius: 200px;
  margin-left: 5px;
  min-height: 3em;
  min-width: 3em;
  font-weight: bold;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // svg {
  //   width: 50%;
  //   height: 50%;
  //   position: absolute;
  // }
}

.generic-description {
  color: #6a6a6a;
  font-size: size(24);
  line-height: 1.2;
  text-align: center;
  strong {
    color: #000;
  }
}

.circle-icon {
  background: $secondary-color;
  border-radius: 2em;
  font-size: 0.5em;
  padding: 0.3em;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.wrapperMargin {
  margin-top: 100px;
}

.fullWidth {
  width: 100%;
}

.list-buttons {
  text-align: center;
  li {
    display: inline-block;
    margin-left: 10px;
    line-height: 1;
    margin-bottom: 12px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    font-size: 17px;
    font-weight: 500;
    display: block;
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 20px;

    &.active {
      background: #000;
      color: #fff;
    }
  }

  &-big {
    li {
      margin: 0 0.5em;
    }

    a {
      font-size: 24px;
      padding: 0.85rem 1rem;
      background: white;
      color: black;
      border-radius: 4rem;
      box-shadow: $button-box-shadow;
    }
  }
}
