.circle-button {
  color: #000;
  background: #fff;
  font-size: 12px;
  border-radius: 200px;
  display: inline-block;
  margin-left: 5px;
  height: 3em;
  width: 3em;
  font-weight: bold;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.generic-description {
  color: #6a6a6a;
  font-size: font-size(24);
  line-height: 1.2;
  text-align: center;
  strong {
    color: #000;
  }
}

.circle-icon {
  background: #2ef7cc;
  border-radius: 2em;
  font-size: 0.5em;
  padding: 0.3em;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.wrapperMargin {
  margin-top: 100px;
}
