@import "~styles/variables";

@mixin control-arrow {
}

@mixin themeCardHover {
  .ThemeCard {
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
      transform: scale(1.05);
      .btn-green {
        box-shadow: $button-box-shadow !important;
      }
    }
  }
}

@mixin carousel-dots($color, $width: 10px) {
  .carousel .control-dots {
    li {
      width: $width;
      height: $width;
      border-radius: 100px;
      opacity: 1;
      box-shadow: $box-shadow-main;
      &.selected {
        background: $color;
      }
    }
  }
}
