@import "./functions";
@import "./mediaqueries-mixins";

.rte-content {
  font-size: 16px;

  h1 {
    font-size: size(34px);
    margin-bottom: size(40px);
    margin-top: size(30px);

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: size(28px);
  }

  h3 {
    font-size: size(20px);
  }

  h4 {
    font-size: size(16px);
  }

  ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    li {
      margin-left: 2rem;
      list-style: disc;
    }
  }

  .fullsize {
    width: 100% !important;
    height: auto !important;
  }

  @include media-phone {
    font-size: size-mobile(16);

    h1 {
      font-size: size-mobile(34px);
    }

    h2 {
      font-size: size-mobile(28px);
    }

    h3 {
      font-size: size-mobile(20px);
    }

    h4 {
      font-size: size-mobile(16px);
    }
  }
}
