$font-family: "Brandon Grotesque", "Myriad Pro", sans-serif;
$font-size: 24px;

$header-width: 1408px;
$container-width: 1628px;
$container-2-width: 1180px;
$container-padding: 10px;
$header-padding-page-height: 114px;

$background-color: #f7f5f6;
$arrow-size: 57px;
$carousel-content-position: $arrow-size + 30px;
$card-border-radius: 20px;

$container-carousel-margins: $carousel-content-position;

// colors
$primary-color: #000;
$secondary-color: #00f6d6;
$color-grey: #979797;
$btn-green-bg-color: $secondary-color;
$btn-green-hover-bg-color: #00f6d6;

// shadow
$big-shadow: 0px 0px 35px 18px #2d2d2d15;
