$font-family: "Brandon Grotesque", "Myriad Pro", sans-serif;
$font-size: 18px;

$container-width: 1628px;
$container-2-width: 1170px;

$primary-color: #000;
$secondary-color: #2ef7cc;
$color-grey: #979797;

// colors
$btn-green-bg-color: $secondary-color;
$btn-green-hover-bg-color: #39ffd4;
