$font-family: "Brandon Grotesque", "Myriad Pro", sans-serif;
$font-size: 24px;

$header-width: 1408px;
$container-width: 1628px;
$container-2-width: 1180px;
$container-padding: 20px;
$header-padding-page-height: 114px;

$background-color: #fff; //#f7f5f6;
$background-grey: #f7f5f6;
$arrow-size: 57px;
$carousel-content-position: $arrow-size + 30px;
$card-border-radius: 20px;

$container-carousel-margins: $carousel-content-position;

// colors
$primary-color: #000;
$secondary-color: #00f6d6;
$color-grey: #979797;
$grey-text: rgba(0, 0, 0, 0.5);

$btn-green-bg-color: $secondary-color;
$btn-green-hover-bg-color: #000;

// shadow
$big-shadow: 0px 0px 35px 18px #2d2d2d15;
$card-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

$button-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
$box-shadow-main: $button-box-shadow;
$inputSelectors: "select, textarea, input[type='text'], input[type='date'], input[type='datetime-local'], input[type='email'], input[type='file'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='week']";
$main-text-color: rgba(0, 0, 0, 0.5);

$success-color: #155724;
$success-color-background: #d4edda;
$success-color-border: #c3e6cb;
$danger-color: #721c24;
$danger-color-background: #f8d7da;
$danger-color-border: #f5c6cb;
